.link {
    text-decoration: none;
    color: #065fb2;
    transition: ease-in-out 0.5s;

    &:hover {
        color: #00529f;
        text-decoration: underline;
    }
}

.cta {
    transition: ease-in-out 0.5s;

    &:hover {
        background-color: #00529f;
    }
}

.features {
    transition: ease-in-out 0.5s;

    &:hover {
        transform: scale(1.1);
    }
}